APIFY_TOKEN=apify_api_REPLACE_ME
APIFY_ACTOR_ID=red_crawler~reddit-search
APIFY_RESULTS_PER_QUERY=50
APIFY_COMMENTS_ACTOR_ID=crawlerbros~reddit-comment-scraper-pro
MAX_RELEVANT_DISCUSSIONS=100
MAX_COMMENTS_PER_DISCUSSION=100
MIN_COMMENT_SCORE=-10000
